body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

#list-info {
    margin: 1rem 2rem;
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 98%;
    margin: 1rem auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

table th,
table td {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}

table th {
    background-color: #f0f0f0;
}

/* Specific column widths */
table th:nth-child(1),
/* Ranking */
table td:nth-child(1) {
    width: 10%;
    /* You can adjust this as needed */
}

table th:nth-child(2),
/* Movie Name */
table td:nth-child(2),
table th:nth-child(3),
/* Director */
table td:nth-child(3) {
    width: 15%;
    /* Both will take up about the same space */
}

table th:nth-child(4),
/* Comments */
table td:nth-child(4) {
    width: 60%;
    /* Widest column */
}

.rating {
    font-size: 2em;
}

.out-of {
    font-size: 0.8em;
    vertical-align: super;
    /* This will make it appear like superscript */
}

.blue-rating {
    background-color: blue;
    color: #fff;
}

.green-rating {
    background-color: green;
    color: #fff;
}

.yellow-rating {
    background-color: yellow;
    color: #333;
}

.red-rating {
    background-color: red;
    color: #fff;
}